<ul class="nav nav-tabs mb-3">
    <li class="nav-item">
      <a class="nav-link<%= title === 'Profile' ? ' active' : null %>" href="/profile">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link<%= title === 'Email' ? ' active' : null %>" href="/profile/email">Email</a>
    </li>
    <li class="nav-item">
        <a class="nav-link<%= title === 'Image' ? ' active' : null %>" href="/profile/image">Image</a>
    </li>
    <li class="nav-item">
        <a class="nav-link<%= title === 'Password' ? ' active' : null %>" href="/profile/password">Password</a>
    </li>
    <li class="nav-item">
        <a class="nav-link<%= title === 'Preferences' ? ' active' : null %>" href="/profile/preferences">Preferences</a>
    </li>
</ul>