<%- include('./includes/header') -%>
<div class="jumbotron" style="background-image: url(/img/hero.jpg)">
  <div class="container">
    <h1 class="display-3">Yitube</h1>
    <p class="lead">Stream movies in HD</p>
  </div>
</div>
<section>
  <div class="container">
    <%- include('./includes/warning') -%>
    <h3 class="h4">Recently Added</h3>
    <%- include('./includes/list_movies', {'movies': recently_added_movies}) -%>
    <h3 class="h4">Porpular</h3>
    <%- include('./includes/list_movies', {'movies': popular_movies}) -%>
    <h3 class="h4">Top Rated</h3>
    <%- include('./includes/list_movies', {'movies': top_rated_movies}) -%>
  </div>
</section>
<%- include('./includes/footer') -%>